{% extends "indexLayout.html" %}

{% block title %}
Demo App
{% endblock %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
	<body>
        <div class="container mt-5">

            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        <h3>Choose the mod that you wish to consult</h3>
                        <div class="mb-3 mt-5">
                        	<input class="custom-select mr-5" type="text" placeholder="modules" name="modulesSelect" list="modules-list">
                        	<datalist id="modules-list">
	                            {% for key in modules %}
	                                <option value="{{key}}">{{modules[key]}}</option>
	                            {% endfor %}
							</datalist>
	                        <!-- <select class="custom-select mr-5" name="modulesSelect">
	                            <option selected>Module</option>
	                            {% for key in modules %}
	                                <option value="{{key}}">{{key}}</option>
	                            {% endfor %}
	                        </select> -->
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    {{ form.submit(class="btn btn-lg btn-block btn-outline-info") }}
                </div>
            </form>
        </div><!-- /.container -->
    </body>

{% endblock %}