{% extends "indexLayout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ question.author.username }}</a>
                <small class="text-muted">{{ question.datetime.strftime('%d-%b-%Y %H:%M') }}</small>
                {% if question.author == current_user %}
                      <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_question', question_id=question.id) }}">Update</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                      </div>
                    {% endif %}
            </div>
            <h2 class="article-title">{{question.question}}</h2>
            <p class="article-content">{{question.description}}</p>
        </div>
    </article>
    
    {% for answer in answers %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('user_questions', username=answer.authorName)}}">{{ answer.authorName }}</a>
                    <small class="text-muted">{{ answer.datetime.strftime('%d-%b-%Y %H:%M')}}</small>
                </div>
                <p class="article-content">{{answer.answer}}</p>
            </div>
        </article>
    {% endfor %}
    {% if current_user.is_authenticated %}
    <article class="media content-section">
        <div class="media-body">
          <form method="POST" action="" class="mx-auto">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Know the answer?</legend>
                <div class="form-group">
                    {% if form.answer.errors %}
                        {{ form.answer(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.answer.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.answer(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group text-center">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
          </form>
        </div>
    </article>
    {% endif %}
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Question?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_question', question_id=question.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
    </div>
{% endblock %}